<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <img style="width: 100%; height: auto" src="img/fon.jpg" alt="trucks">
  </body>
</html>
